[submodule "libblkmaker"]
	path = libblkmaker
	url = git://gitorious.org/bitcoin/libblkmaker.git
[submodule "ccan"]
	path = ccan-upstream
	url = git://git.ozlabs.org/~ccan/ccan
[submodule "uthash"]
	path = uthash
	url = git://github.com/troydhanson/uthash
[submodule "knc-asic"]
	path = knc-asic
	url = git@stockholm.kandc.se:projects/kncminer/knc-asic
